{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile Apps Development</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        .card{
            width: 25rem;
            height:30rem;
        }
        .btn{
            position: absolute;
            bottom: 2;
        }

        .card-img-top{
            width: 100%;
            height:50%;
        }
        h5{
            font-size:22px;
        }
        li{
            font-size:19px
        }
        .card-body{
            background:linear-gradient(to right, #FCE655, #FFFBE5);
        }
        .total{
            background: linear-gradient(cyan, #353F3E, #49FFB9);
        }
    </style>
</head>
<body>
<div class="total">

    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.google.com/search?q=sk+sayed+aktar" style="font-size:28px">
            <img src="{% static 'assets/images/myImg.jpg' %}" alt="" width="50" height="50" class="d-inline-block align-text-top" style="border: 2px solid cyan; border-radius:40%;">
            Mobile Apps Development
        </a>
      </div>
    </nav>

    <div class="col d-flex justify-content-center ">
        <table>
            <tr>
                <td>
                <!-- Item start -->
                    <div class="card mx-5 my-5">
                        <img src="{% static 'assets/images/flatform.png' %}" class="card-img-top" alt="..." style="background-color:rgba(10,10,10,0.9);">
                        <div class="card-body">
                            <h5 class="card-title">Flatform</h5>
                            <p class="card-text">
                                <ul>
                                    <li>Android Studio</li>
                                    <li>Xamarin</li>
                                    <li>React Native</li>
                                </ul>
                            </p>
                            <a href="#" class="btn btn-primary disabled">Developed projects</a>
                        </div>
                    </div>
                <!-- Item start -->
                </td>
                <td>
                    <div class="card mx-5 my-5">
                        <img src="{% static 'assets/images/progland.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Programming Languages</h5>
                            <p class="card-text">
                                <ul>
                                    <li>JAVA</li>
                                    <li>Python</li>
                                    <li>JavaScript</li>
                                    <li>C#</li>
                                </ul>
                            </p>
                            <a href="#" class="btn btn-primary disabled">Developed projects</a>
                        </div>
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                <!-- Item start -->
                    <div class="card mx-5">
                        <img src="{% static 'assets/images/db.png' %}" class="card-img-top" style="background-color:rgba(10,10,10,0.9);">
                        <div class="card-body">
                            <h5 class="card-title">Databases</h5>
                            <p class="card-text">
                                <ul>
                                    <li>Firebase</li>
                                    <li>SQLite3</li>
                                    <li>MongoDB</li>
                                </ul>
                            </p>
                            <a href="#" class="btn btn-primary disabled">Developed projects</a>
                        </div>
                    </div>
                <!-- Item start -->
                </td>
<!--                <td>-->
<!--                    <div class="card mx-5">-->
<!--                        <img src="{% static 'assets/images/restapi.png' %}" class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Additional Skills</h5>-->
<!--                            <p class="card-text">-->
<!--                                <ul>-->
<!--                                    <li>PHP</li>-->
<!--                                    <li>RestAPI</li>-->
<!--                                    <li>DRF(Django Rest Framework)</li>-->
<!--                                    <li>JavaScript</li>-->
<!--                                </ul>-->
<!--                            </p>-->
<!--                            <a href="#" class="btn btn-primary disabled">Developed projects</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
            </tr>
        </table>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>